    *{
      font-family: sans-serif;
    }    
    #game{
      width: 100vw;
      height: 100vh;
      margin: 0;
      position: absolute;
    }
    
    #player-img,#opponent-img{
      width: 50px;
      height: 50px;
    }

      table{
        /*table-layout: fixed;*/
        width: 100%;
        background-color: grey;

      }
      img{
        display: block;
        position: absolute;

      }
     #fire{
      margin-top: -11px;
      margin-left: -11px;
      max-width: 40px;
      max-height: 47px;
      width: 50px;
      height: 48px;
      display: block;

     }
     #t13,#t25,#t30,#t40,#t60,#t65,#t70,#t80,#t90,#t98{
      background-image: url("../assets/fire.jpg");
     }

      
    #flex{
      margin: 5px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 10px;
      justify-content: space-around;
    }
  
    #div1{
      height: 585px;
      width: 220px;
      background-color: lightgrey;
    }
     #div2{
      height: 585px;
      width: 600px;
      background-color: black;

    }
     #div3{
      height: 585px;
      width: 220px;
      background-color: lightgrey;
    }
    #one{
      color: red;
      margin-left: 80px;
      margin-top: -150px;
      width: 50px;
      height: 50px;
      position: relative;
      transform: translateY(450px);
      

    }
    
   
      #three{
      color: red;
      margin-left: 80px;
      margin-top: -150px;
      width: 50px;
      height: 50px;
      position: relative;
      transform: translateY(450px);
 

    }
    .chat-text{
      /* width: 100px; */
      word-wrap: break-word;
      overflow-wrap: break-word;
    
    }
   